@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

.img-profiles{
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
}

.img-profile{
    position: relative;
}

.linea-img{
    background-color: var(--secondary-color);
    height: 15px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.profile{
    text-align: center;
}

.profile-title{
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    color: var(--primary-color);
    font-family: 'Noto Sans', 'Sans-serif';
}

.details{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    max-width: 450px;
    margin: 20px auto;
}

.descargarcv{
    background-color: var(--primary-color);
    color: var(--text-color-inverse);
    border: none;
    font-size: 20px;
    padding: 0.5em 1em;
    border-radius: 7px;
    cursor: pointer;
}

.descargarcv:hover{
    filter: brightness(150%);
}